body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0%;

    background-color: rgb(255, 203, 11);
}

#main{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;

    font-size: 1em;
    margin: 0em;
}

h2{
    margin: 0;
    padding: 0.5rem;
}

.background{
    display: flex;
    flex-direction: row;
    
    padding: 4rem;
    padding: 1rem;
    position: relative;
    width: 100%;
    background-color: black;
}
.player{
    display: flex;
    flex-direction: row;
    border-color: grey;
    border-radius: 3px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;

    justify-content: flex-start;
    align-items: center;
    align-content: space-between;

    margin: 0.5rem;
    padding: 0.25rem;
}

.stats{
    display: flex;
    flex-direction: column;

    position: relative;
    margin: 1rem;
}

.statChange{
    display: flex;
    flex-direction: column;
    height: 100%;

    position: relative;

}

button{
    height: fit-content;
    width: fit-content;

    margin: 0.25rem;
}
#popup{
    align-content: center;
}

.statChange-value{
    font-size: 1.2rem;
    padding: 0.3rem;
    margin: 0;
}